<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Principal.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Principal.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>
    <add key="cnnString" value="Server=localhost;Port=3306;Database=gestion;Uid=root;Pwd=5826;Allow Zero Datetime=True;Convert Zero Datetime=True;" />
    <add key="dsnString" value="driver={Mysql ODBC 5.1 Driver};server=localhost;uid=root;pwd=5826;database=gestion;port=3306;connection=" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <userSettings>
    <Principal.My.MySettings>
      <setting name="BackgroundColor" serializeAs="String">
        <value>White</value>
      </setting>
      <setting name="BackgroundImage" serializeAs="String">
        <value />
      </setting>
      <setting name="CodigoSucursal" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="RutaReportes" serializeAs="String">
        <value>c:\reportes</value>
      </setting>
      <setting name="ProvinciaDefault" serializeAs="String">
        <value>Santa Fe</value>
      </setting>
      <setting name="DocumentoDefault" serializeAs="String">
        <value>96</value>
      </setting>
      <setting name="ResponsabilidadDefault" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="UrlWsaa" serializeAs="String">
        <value>https://wsaahomo.afip.gov.ar/ws/services/LoginCms</value>
      </setting>
      <setting name="UrlWsfe" serializeAs="String">
        <value>https://wswhomo.afip.gov.ar/wsfev1/service.asmx</value>
      </setting>
      <setting name="WsaaIdServicio" serializeAs="String">
        <value>wsfe</value>
      </setting>
      <setting name="WsaaProxy" serializeAs="String">
        <value />
      </setting>
      <setting name="WsaaProxyPassword" serializeAs="String">
        <value />
      </setting>
      <setting name="WsaaProxyUser" serializeAs="String">
        <value />
      </setting>
      <setting name="WsaaCertificado" serializeAs="String">
        <value>c:\electronica\cert.p12</value>
      </setting>
      <setting name="WsaaCertificadoPassword" serializeAs="String">
        <value>13181372</value>
      </setting>
      <setting name="WsaaRutaTicket" serializeAs="String">
        <value>c:\electronica</value>
      </setting>
      <setting name="WsfeRutaSalidas" serializeAs="String">
        <value>c:\electronica</value>
      </setting>
      <setting name="CtaBancariaPredeterminada" serializeAs="String">
        <value>CAJA</value>
      </setting>
      <setting name="CptoBancarioEgresoPredeterminado" serializeAs="String">
        <value>002</value>
      </setting>
      <setting name="CptoBancarioIngresoPredeterminado" serializeAs="String">
        <value>001</value>
      </setting>
      <setting name="PuertoCommFiscal" serializeAs="String">
        <value>Com1</value>
      </setting>
      <setting name="CodigoConsFinal" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="PuntoVtaMayorista" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="PuntoVtaMinorista" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="UrlWscdc" serializeAs="String">
        <value>https://wswhomo.afip.gov.ar/WSCDC/service.asmx</value>
      </setting>
      <setting name="WscdcIdServicio" serializeAs="String">
        <value>wscdc</value>
      </setting>
      <setting name="LocalidadDefault" serializeAs="String">
        <value>16197</value>
      </setting>
      <setting name="MaximoItemsMayorista" serializeAs="String">
        <value>25</value>
      </setting>
      <setting name="MaximoItemsFiscal" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="MaximoItemsCompra" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="PuntoVtaManual" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="PuntoVtaRto" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="CbteDefaultA_Fiscal" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="CbteDefaultB_Fiscal" serializeAs="String">
        <value>6</value>
      </setting>
      <setting name="IdProvinciaDefault" serializeAs="String">
        <value>13</value>
      </setting>
      <setting name="PuntoVtaAjustesProv" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="MailFrom" serializeAs="String">
        <value />
      </setting>
      <setting name="MailSubject" serializeAs="String">
        <value />
      </setting>
      <setting name="MailMessage" serializeAs="String">
        <value />
      </setting>
      <setting name="SmtpHost" serializeAs="String">
        <value />
      </setting>
      <setting name="SmtpPort" serializeAs="String">
        <value />
      </setting>
      <setting name="SmtpUser" serializeAs="String">
        <value />
      </setting>
      <setting name="SmtpPassword" serializeAs="String">
        <value />
      </setting>
      <setting name="SmtpUseSSL" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PuntoVtaPresupuesto" serializeAs="String">
        <value>3</value>
      </setting>
    </Principal.My.MySettings>
  </userSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <applicationSettings>
    <Principal.My.MySettings>
      <setting name="GestionComercial_wsfev1_Service" serializeAs="String">
        <value>https://wswhomo.afip.gov.ar/wsfev1/service.asmx</value>
      </setting>
      <setting name="GestionComercial_wscdc_Service" serializeAs="String">
        <value>https://wswhomo.afip.gov.ar/WSCDC/service.asmx</value>
      </setting>
      <setting name="Principal_wscdc_Service" serializeAs="String">
        <value>https://wswhomo.afip.gov.ar/WSCDC/service.asmx</value>
      </setting>
      <setting name="Principal_wsfev1_Service" serializeAs="String">
        <value>https://wswhomo.afip.gov.ar/wsfev1/service.asmx</value>
      </setting>
    </Principal.My.MySettings>
  </applicationSettings>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
</configuration>